<ion-header>
  <ion-toolbar color="primary" >
    <ion-title>Authentification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form>
      <div class="pickImage">
        <img id="selectedImage" src="assets/logo.webp" alt="picked">
      </div>
      <div class="textInput">
        <ion-item>
          <ion-label position="floating">Telephone</ion-label>
          <ion-input name="telephone" type="number" ></ion-input>
        </ion-item>
      </div>
      <div class="textInput">
        <ion-item>
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input name="password" type="password" ></ion-input>
        </ion-item>
      </div>
      <div class="btns">
        <ion-button
          [routerLink]="['/nav/chat']"
          shape="round"
          color="primary"
        >
         se connecter
        </ion-button>
      </div>
    </form>
  </ion-card>
  <ion-fab vertical="bottom" [routerLink]="['/register']" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
